@(form: Form[DeleteCultivarForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Delete cultivar") {

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
        <div>
            @error.key: @error.message
        </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("cultivar_id"))

        <p>or</p>

        @helper.inputText(form("cultivar_name"))

        <button>Delete cultivar from database</button>
    }
}
