@()

@main("fruit-db home") {
    <h1>Welcome to fruit-db</h1>

    <p>
        <a href="@routes.SpeciesController.list">List species</a>
    </p>

    <p>
        <a href="@routes.CultivarsController.list">List cultivars</a>
    </p>

    <p>
        <a href="@routes.CultivarsOfSpeciesController.listCultivars">List cultivars of species</a>
    </p>

    <p>
        <a href="@routes.InsertSpeciesController.showFields">Insert new species into database</a>
    </p>

    <p>
        <a href="@routes.DeleteSpeciesController.showFields">Delete existing species from database</a>
    </p>

    <p>
        <a href="@routes.InsertCultivarController.showFields">Insert new cultivar into database</a>
    </p>

    <p>
        <a href="@routes.DeleteCultivarController.showFields">Delete existing cultivar from database</a>
    </p>

}
